body {
	background-color: hsl(201, 85%, 31%);
	color: #fcfcfc;
	padding-top: 3.7rem;
	margin: auto;
	font-family: 'Oswald', sans-serif;

}



/*USER FILTER */

.filter_item {
	width: 100%;
}

.arrow {
	justify-content: space-between !important;
}

.aside_user {
	padding: 0 1em;
}

.aside_user div {
	margin: .25em 0;
}

input {
	margin-right: 5px;
}


.container {
	min-width: 100% !important;
	max-height: 100% !important;
}

nav {
	position: fixed;
	z-index: 2;
	background-color: #6184D8;
	/* height: 3.5rem; */
}


/* navbar */
body.offcanvas-active {
	overflow: hidden;
}

.offcanvas-header {
	display: none;
}

@media (max-width: 992px) {
	.offcanvas-header {
		display: block;
	}

	.navbar-collapse {
		z-index: 3;
		position: fixed;
		top: 0;
		bottom: 0;
		width: 33%;
		padding-right: 1rem;
		padding-left: 1rem;
		overflow-y: auto;
		visibility: hidden;
		background-color: black;
		transition: visibility .2s ease-in-out, transform .2s ease-in-out;
	}

	.right {
		left: 100%;
	}

	.left {
		right: 100%
	}

	.left.show {
		visibility: visible;
		transform: translateX(100%);
	}

	.right.show {
		visibility: visible;
		transform: translateX(-100%);
	}

	footer {
		text-align: center;
	}

	.user_info a {
		display: inline !important;
	}
}


#logo {
	width: 120px;
	color: #d3a72e;
}

/* END navbar */

/* presentation */


.fake_conv {
	min-height: 30vh;
}



.presentation {
	padding: 100px 0;
}



/* Homepage User */

/* Carousel */



.tns-outer {
	text-align: center;
}

.tns-visually-hidden {
	position: hidden;
}


figure {

	width: 30%;
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;
	/* border: thin silver solid; */
	margin: 0.5em;
	padding: 0.5em;
	position: relative;
	top: 0;
	transition: top ease 0.5s;
}

figure:hover {
	top: -10px;
}

img.scaled {
	width: 100%;
	width: 200px;
	height: 200px;
	object-fit: cover;

}

/* 
img.users_pic {
	width: 200px;
	height: 200px;
}

img.projects_pic {
	width: 200px;
	height: 200px;
} */


img.img-rounded {

	width: 80%;

	border-radius: 50%;
}



img.scaled {
	cursor: move;
	/* fallback if grab cursor is unsupported */
	cursor: -webkit-grab;
	/* Chrome 1-21, Safari 4+ */
	cursor: -moz-grab;
	/* Firefox 1.5-26 */
	cursor: grab;
	border: white 2px solid;
	border-bottom-width: 0;
	border-radius: 3px;
}


img.scaled:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}

img.img-rounded {
	border-radius: 50%;
}



/* Caption User Carousel */



figcaption {
	margin-top: 30px;
	border: 2px solid white;
	background-color: aliceblue;
	width: 300px;
	margin: auto;
	background-color: #FAA300;
	border-radius: 3px;
}

figcaption h6 {
	margin-top: 10px;
}

#users>.tns-item,
#projects>.tns-item {

	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0px !important;
}


/* just a div for the top of the user list*/

.top_div {
	height: 8em;
	width: 100%;
}




/*card user*/

.card-text {
	color: black !important;
}

.user_img {
	height: 130px;
	width: 130px;
}

.user_list .card {
	background-color: #EFF7F6;
	border-radius: 1rem;

}

.user_list .card:hover {
	top: -10px;
}


.filter_user {
	overflow-y: hidden;
	position: fixed;
	left: 1rem;
}

.user_container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.user_list {
	width: 100%;
	display: flex;
	align-items: center;
	padding-left: 18%;
	flex-wrap: wrap;
	justify-content: center;
}

@media (min-width: 992px) {
	.btn {
		display: none;
	}

	#collapseUserList {
		display: block;
	}

	#collapseProjectList {
		display: block;
	}
}

@media (max-width: 992px) {
	/*NAVBAR RESPONSIVE */

	.navbar-collapse {
		padding-left: 0;
		padding-right: 0;
	}

	.nav-link {
		color: white !important;
		font-size: small;
	}

	.nav_right,
	.nav_left {
		padding-top: 2rem;
		display: block;
		text-align: right;
	}

	.nav_left {
		text-align: left;
	}

	.filter_user {
		position: static;
		margin-bottom: 1em;
	}

	.filter_user button {
		display: block;
		margin: auto;
	}

	.filter_user ul {
		padding-top: 1rem;
		display: block;
		float: left;
	}

	.container {
		position: static;
		flex-direction: column !important;
	}

	.user_list {
		order: 2;
		padding: 0%;
		/* margin-left: 1rem; */
	}

	.card {
		margin: 1.5rem auto !important;
	}
}


nav {
	width: 100%;
	margin: 0 auto;
	background: #fff;
	padding: 50px 0;
	box-shadow: 0px 5px 0px #dedede;
}

nav ul {
	list-style: none;
	text-align: center;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #aaa;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
	transition: all .5s;
}

nav ul li a:hover {
	color: #555;
}


/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
	position: relative;
}

nav.stroke ul li a:after,
nav.fill ul li a:after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 0%;
	content: '.';
	color: transparent;
	background: #aaa;
	height: 1px;
}

nav.stroke ul li a:hover:after {
	width: 100%;
}

nav.fill ul li a {
	transition: all 2s;
}

nav.fill ul li a:after {
	text-align: left;
	content: '.';
	margin: 0;
	opacity: 0;
}

nav.fill ul li a:hover {
	color: #fff;
	z-index: 1;
}

nav.fill ul li a:hover:after {
	z-index: -10;
	animation: fill 1s forwards;
	-webkit-animation: fill 1s forwards;
	-moz-animation: fill 1s forwards;
	opacity: 1;
}





/* TEST */
.fa-arrow-right {
	transition: transform 0.4s linear;
}

.turn {
	transform: rotate(90deg);
}


.turnDown {
	transform: rotate(90deg);
}


.turnUp {
	transform: rotate(0deg);
}

.filter_item .collapse {
	transition: transform 0.4s linear;
}

.show {
	transform: translate(100deg);
}




/* User */

.profil {
	min-width: 80%;
	width: 80%;
	font-size: 10px !important;

}

.profil_info {
	text-align: center;
}


.profil_info_item {
	display: flex;
	text-align: center;
	flex-direction: column;
	padding: 0 3px;
	margin-left: 0px;
	margin-right: 0px;
}

.user_background {
	background-image: linear-gradient(#ffffff1a, rgba(255, 255, 255, 0.199)), url('../css/bg-test.jpg');
	background-size: cover;
	padding: 0;
	background-repeat: no-repeat;
	background-position: 100% 65%;
	padding-top: 1em;
}

.user_avatar {

	width: 50%;
	height: auto;
	border-radius: 25% 15% 25% 25%;
}

.position_div {
	position: relative;
	height: auto;
	justify-content: center;
}


.position_available {
	position: absolute;
	left: 70%;
	top: -5px;
	width: 25px;
	height: 25px;
	padding: 5px;
	border: 2px solid white;
	border-radius: 50%;

}

.position_available.dispo {
	background-color: rgb(33, 185, 84);
}

.position_available.indispo {
	background-color: rgb(238, 11, 11);
}


@media(max-width: 992px) {
	.user_avatar {
		width: 40%;
	}

	.position_available {
		left: 65%;
	}
}

.contact_style{
	
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #fff;
	border: 1px solid #fff;
	text-align: center;
	outline: none;
	text-decoration: none;
  
}

.contact_style {
display: inline-block;
width: 70%;
padding: 8px 2px;
background-color: #fff;
border: 2px solid #fff;
border-radius: 10px;
text-align: center;
outline: none;
text-decoration: none;
transition: background-color 0.2s ease-out,
			color 0.2s ease-out;
}

.contact_style a {
color: #5533FF;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.contact_style:hover,
.contact_style:active {
background-color: #5533FF;
transition: background-color 0.3s ease-in,
			color 0.3s ease-in;
}

.contact_style:hover a {
color: #fff;

}
@media(max-width: 992px){
.contact_style{
	width: 100%;
}
.contact_style a{
	font-size: 12px
}
}



.user_page {
	padding: 0 !important;
	margin-top: 0 !important;
}

.item_profil {
	padding: 0px !important;

}


.baloon {

	display: block;
	border-radius: 50%;
	height: 4.5em;
	width: 4.5em;
	position: relative;
	background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
	font-size: 10px;

}

.baloon:before {
	content: “”;
	position: absolute;
	top: 1%;
	left: 5%;
	width: 40%;
	height: 40%;
	border-radius: 50%;
	background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
	filter: blur(5px);
	z-index: 2;
}



.baloon_big {
	height: 5em;
	width: 5em;
	margin:1rem auto;
	background: linear-gradient(circle at 100px 100px, blue, white);
	
}

.user_description{
	width: 70%;
	margin-left : 2rem;
	padding: 20px;
	text-align:center;
	background : rgba(214, 218, 221, 0.314);
	color: black;
	border-radius: 10px;

}

.user_tools { 
	margin-top: 2em;
	padding: 20px;
	align-self: flex-end;
	width: 80%;
	margin-right:2rem;
	background : rgba(214, 218, 221, 0.314);
	color: black;
	border-radius: 10px;
}

.user_tools li{
	margin:auto;
}

.user_tools li:hover{
background-image: blue;
}
